# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*~
*Common
dbd
include
doc
html
db
adl
alh
cfg
edl
lib
envPaths
#*
*#
.#*
*log.*
bin
O.*
*.list
*.out
*.log
*-eps-converted-to.pdf
*.cookie
*.aux
*.log
*.d
*.toc
*.lof
*.lot
*.bbl
*.blg
*.out
*.ind
*.ilg
*.fls
*.idx
*.dvi
*.ps
*.tmp
*.temp
*.cookie
*~
*.make
*.gz
*.txsprofile
doc_*
*.acn
*.acr
*.alg
*.ist
*.nav
*.snm
#*
